@import "./base/base-reset";
@import "./utils/vars.scss";
@import "./utils/mixines";
@import "./base/font";
@import "./utils/hidden";

@import "./components/backdrop";
@import "./components/close-button";
@import "./components/section";
@import "./components/container";
@import "./components/buttons";
@import "./components/filter";
@import "./components/communities";
@import "./components/animations";
@import "./components/mobile-menu";
@import "./components/section-header";

@import "./layout/header";
@import "./components/logo";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/specialisation";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/modal-window";
@import "./layout/portfolio";
