.advantages__list {
  @include tab-pc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $typical-margine;
  }
  @include pc-only {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  &:not(:last-child) {
    @include mob-only {
      margin-bottom: $typical-margine;
    }
  }
}

.advantages__svg-wrapper {
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  @include flex-centre();

  margin-bottom: 30px;
}

.advantages__header {
  @include text-prop(700, 14px, 1.14, null);
  text-transform: uppercase;
  color: $primary-main-color;

  margin-bottom: 10px;

  @include mob-only {
    text-align: center;
  }
}
