.clients__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @include tab-only {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include pc-only {
    grid-template-columns: repeat(6, 1fr);
  }
}

.clients__item {
  color: #afb1b8;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: $typical-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.clients__link {
  @include flex-centre();
  height: 92px;
  width: 100%;
}
