.hero {
  background-color: $extra-background-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/images-main-page/hero-bg-mob-1x.jpg);
  max-height: 400px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position-x: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  @include flex-centre;
  @include retina {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/images-main-page/hero-bg-mob-2x.jpg);
  }
  @include tab-only {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/images-main-page/hero-bg-tab-1x.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/images-main-page/hero-bg-tab-2x.jpg);
    }
  }
  @include pc-only {
    max-height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/images-main-page/hero-bg-pc-1x.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/images-main-page/hero-bg-pc-2x.jpg);
    }
  }
}

.hero__header {
  @include text-prop(900, 24px, 1.62, 0.06em);
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: $secondary-main-color;

  max-width: 360px;
  margin-bottom: 30px;

  @include pc-only {
    @include text-prop(900, 44px, 1.36, 00.06em);
    max-width: 696px;
  }
}

.hero__button {
  margin: 0 auto;
  padding: 10px 32px;

  background-color: $accent-color;
  color: $secondary-main-color;
  transition: $typical-transition;
}
