.modal {
  position: fixed;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;

  background-color: $secondary-main-color;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.2);
  }
  @include mob-only {
    margin: 94px 15px;
  }
}

.modal__text {
  margin-bottom: 12px;

  @include text-prop(700, 20px, 1.5, 0.03em);
  text-align: center;

  color: $primary-main-color;
}

.form__field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 50px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  .form__field:focus-within & {
    border-color: $accent-color;
  }
}

.form__input-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    @include text-prop(null, 12px, 1.16, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__label {
  color: $text-color;
  @include text-prop(null, 12px, 1.16, 0.01em);
}

.form__icon {
  display: block;
  height: 18px;
  position: absolute;
  top: calc(50% + 12px);
  left: 0;
  transform: translateY(-50%);
  margin-left: 12px;

  fill: $primary-main-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__field:focus-within & {
    color: $accent-color;
  }
}

.form__label-checkbox {
  margin-left: 23px;
  @include text-prop(400, 12px, 1.16, 00.03em);
}

.form__field-checkbox {
  // margin-left: 13px;
  position: relative;
  margin-bottom: $typical-margine;

  @include flex-centre();
}

.form__link-checkbox {
  color: $accent-color;
  border-bottom: 1px solid $accent-color;
}

.form__icon-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  border: 2px solid $primary-main-color;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input-checkbox:checked ~ & {
    background-color: $accent-color;
    border-color: transparent;
    background-image: url(../images/images-main-page/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.submit-button {
  margin: 0 auto;

  width: 200px;
  height: 50px;

  background-color: $accent-color;
  color: #ffffff;
  @include text-prop(null, 16px, 1.88, 00.06em);
}
