.team {
  background-color: $secondary-background-color;
}

.team__cards {
  @include tab-pc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $typical-margine;
  }
  @include pc-only {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.member-card {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: $secondary-main-color;

  &:not(:last-child) {
    @include mob-only {
      margin-bottom: $typical-margine;
    }
  }
}

.member-card__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-card__photo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.member-card__name {
  @include text-prop(500, 16px, 1.19, null);
  text-align: center;
  color: $primary-main-color;
}

.member-card__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}
