.filter {
  @include flex-centre();
  margin-bottom: $typical-margine;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__buttons {
  @include text-prop(500, 16px, 1.62, 00.03em);
  text-align: center;
  background-color: $secondary-background-color;
  color: $primary-main-color;
  transition: $typical-transition;

  padding: 6px 22px;

  &:hover,
  &:focus {
    color: $secondary-main-color;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
      0px 3px 1px 0px #0000001a;
  }

  &--current {
    color: $secondary-main-color;
    background-color: $accent-color;
  }
}
