.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  @include text-prop(700, 26px, 1.19, 00.03em);
  color: #2196f3;
}

.logo__part {
  color: #000000;

  &--light {
    color: $secondary-main-color;
  }
}
