.menu-mob {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;

  width: 100vw;
  height: 100vh;
  padding: 10px 15px 38px 40px;
  background-color: $secondary-main-color;

  @include tab-pc {
    display: none;
  }
}

.menu-mob__open-btn,
.menu-mob__close-btn {
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include tab-pc {
    display: none;
  }
}

.menu-mob__close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-mob__open-btn {
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu-mob__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.menu-mob__item:first-child {
  margin-top: 48px;
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__link {
  @include text-prop(500, 40px, 1.175, 0.02em);
  color: $primary-main-color;
  list-style: none;

  &--current {
    color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-mob__mail {
  @include text-prop(500, 24px, 1.16, 00.02em);

  margin-bottom: 32px;
}

.menu-mob__tel {
  @include text-prop(500, 34px, 1.17, 00.02em);
  color: $accent-color;
}

.menu-mob__communities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;

  &-item {
    padding-top: 10px;
    padding-bottom: 10px;
    @include text-prop(500, 18px, 1.22, 00.02em);
    color: $accent-color;
  }
  &-item:not(:last-child) {
    margin-right: 10px;
  }
  &-item:not(:last-child)::after {
    content: " ";
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }
}
