p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

svg {
  fill: currentColor;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}
